<div class="main-container">
    <div class="top-content">
        <img src="@Details.HomeImageUrl"/>
    </div>
    <div class=bottom-content>
        <h3>@Details.HomeStatus</h3>
        <h1>@Details.HomeName</h1>
        <h6>@Details.Additional</h6>

        <div class="row-content">
            <div class="row-element">
                <img src="@Details.BedsIconUrl"/>
                <h4>@Details.NumBeds Beds</h4>
            </div>
            <div class="row-element">
                <img src="@Details.BathsIconUrl"/>
                <h4>@Details.NumBaths Baths</h4>
            </div>
            <div class="row-element">
                <img src="@Details.CarsIconUrl"/>
                <h4>@Details.NumCars Cars</h4>
            </div>
        </div>
    </div>
</div>