<div class="main-container">
    <h1 class="title-text">Client Reviews</h1>
    <div class="middle-content">
        <div class="middle-content-element">
            <h6>@ReviewLeft.ReviewBody</h6>
            <h3>- @ReviewLeft.Author</h3>
        </div>
        <div class="middle-content-element">
            <h6>@ReviewMiddle.ReviewBody</h6>
            <h3>- @ReviewMiddle.Author</h3>
        </div>
        <div class="middle-content-element">
            <h6>@ReviewRight.ReviewBody</h6>
            <h3>- @ReviewRight.Author</h3>
        </div>
    </div>
</div>