<div class="main-container flex-column justify-even">
    <h1 class="title-text">Client Reviews</h1>
    <div class="middle-content flex-row justify-even">
        <div class="middle-content-element flex-column justify-between">
            <h6>@ReviewLeft.ReviewBody</h6>
            <h3>- @ReviewLeft.Author</h3>
        </div>
        <div class="middle-content-element flex-column justify-between">
            <h6>@ReviewMiddle.ReviewBody</h6>
            <h3>- @ReviewMiddle.Author</h3>
        </div>
        <div class="middle-content-element flex-column justify-between">
            <h6>@ReviewRight.ReviewBody</h6>
            <h3>- @ReviewRight.Author</h3>
        </div>
    </div>
</div>