<div class="main-container flex-row justify-center">
    <div class="left-content">
        <img class="image-align" src="@Details.HomeImageUrl"/>
        <div class="text-container flex-column justify-center">
            <h1>@Details.HomeName</h1>
            <h3>@Details.HomeStatus</h3>
            <div class="row-content flex-row justify-flex-start">
                <div class="row-element flex-row justify-flex-start">
                    <img src="@Details.BedsIconUrl"/>
                    <h4>@Details.NumBeds Beds</h4>
                </div>
                <div class="row-element flex-row justify-flex-start">
                    <img src="@Details.BathsIconUrl"/>
                    <h4>@Details.NumBaths Baths</h4>
                </div>
                <div class="row-element flex-row justify-flex-start">
                    <img src="@Details.CarsIconUrl"/>
                    <h4>@Details.NumCars Cars</h4>
                </div>
            </div>
            <h6>@Details.Additional</h6>
        </div>
    </div>
    <div class="right-content flex justify-center">
        <img src="@Details.HomeLayoutImageUrl"/>
    </div>
</div>